system example;
type int    = range 1 .. 5;
type uns    = range 10 .. 50;
signal Input(int);
signal Output(uns);

signalroute In(1)
	from env to client
	with Input;
signalroute Out(1)
	from client to env
	with Output;


process client(1);
var x int := 0	;
var spid pid;
	state s0 #start ;
		input Input(x);
			nextstate s1;
	endstate;
	state s1 ;
		input Input(x);
			output Output(x*10);
			nextstate s2 ;
	endstate;
	
	state s2 #stop ;
	endstate;
endprocess;

endsystem;